<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookstore" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookStore" >
        <activity
            android:name=".Changepage"
            android:exported="false" />
        <activity
            android:name=".Bookcreateadmin"
            android:exported="false" />
        <activity
            android:name=".bookspageadmin"
            android:exported="false" />
        <activity
            android:name=".Bookcreate"
            android:exported="false" />
        <activity
            android:name=".contactcreate"
            android:exported="false" />
        <activity
            android:name=".contactspageadmin"
            android:exported="false" />
        <activity
            android:name=".usercreate"
            android:exported="false" />
        <activity
            android:name=".contactspage"
            android:exported="false" />
        <activity
            android:name=".userspage"
            android:exported="false" />
        <activity
            android:name=".bookspage"
            android:exported="false" />
        <activity
            android:name=".UserpageActivity"
            android:exported="false" />
        <activity
            android:name=".adminpadge"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>